<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <title>ZochovaMed</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('main_page') }}">Domov</a>
        <a href="{{ url_for('news') }}">Novinky</a>
        {% if current_user.is_authenticated %}
            {% if current_user.role == 'pacient' %}
                <a href="{{ url_for('reservation') }}">Rezervácia termínu</a>
                <a href="{{ url_for('pickup') }}">Lieky na vyzdvihnutie</a>
            {% elif current_user.role == 'doktor' %}
                <a href="{{ url_for('confirm') }}">Potvrdenie termínu</a>
            {% endif %}
            <a href="{{ url_for('logout') }}">Odhlásiť sa</a>
        {% else %}
            <a href="{{ url_for('login') }}">Prihlásiť sa</a>
        {% endif %}
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>