<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZochovaMed</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<!-- NAVIGATION BAR -->
<nav class="navbar">
    <div class="title-and-logo" >
        <a href="/"><img src="static\img\logo.png" alt="logo"></a>
        <h1>
            <a href="/">Zochova Medication</a>
        </h1>
    </div>

    <ul>
        <li><a href="/services">Services</a></li>
        <li><a href="/doctors">Doctors</a></li>
        <li><a href="/schedule">Schedule</a></li>
        <li><a href="/news">News</a></li>
    </ul>
</nav>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <p>© 2024 Zochova Medication | Všetky práva vyhradené.</p>
</footer>

</body>
</html>