{% extends '_base.html' %}

{% block content %}
<div class="content">
    <h2>Vitajte na ZoskaMed</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut vel, modi perspiciatis possimus, nam tempore totam
        veritatis quod maxime minus quos repellendus. Voluptatem tempore, ducimus iure hic quidem corporis officiis.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam ad quia aperiam ratione quibusdam nesciunt
        voluptatem impedit, quam illum rem saepe aut doloribus eveniet sit voluptates assumenda sapiente. Quo, porro?
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dolorem reprehenderit eos, consectetur
        laborum similique fugiat eum placeat iure deleniti, eligendi dignissimos quis? Qui delectus libero vel illo
        repellendus ut.
    </p>
</div>
{% endblock %}