{% extends '_base.html' %}
{% block body_class %}main-page{% endblock %}
{% block content %}
    <h1 class="page-title">Vaše sedenia</h1>
    <div class="sessions-list">
        {% if sessions %}
            {% for session in sessions %}
                <div class="session-card">
                    <div class="session-info">
                        <span class="session-date"><strong>Dátum:</strong> {{ session.date }}</span>
                        <span class="session-time"><strong>Čas:</strong> {{ session.time }}</span>
                        {% if current_user.role == 'doktor' %}
                            <span class="session-doctor"><strong>Pacient:</strong> {{ session.patient.firstname }} {{ session.patient.lastname }}</span>
                        {% else %}
                            <span class="session-doctor"><strong>Doktor:</strong> {{ session.doctor.firstname }} {{ session.doctor.lastname }}</span>
                        {% endif %}
                    </div>
                    {% if current_user.role == 'doktor' %}
                        <a href="{{ url_for('session_record', session_id=session.id) }}" class="session-link">Zápis zo sedenia</a>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <div class="session-card no-hover">
                <div class="no-sessions-message">
                    <p>Aktuálne nemáte žiadne sedenia.</p>
                    {% if current_user.role == 'pacient' %}
                        <p>Môžete si rezervovať nové sedenie na stránke rezervácií.</p>
                        <a href="{{ url_for('reservation') }}" class="reservation-button">Rezervovať sedenie</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}